<!-- <div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/KivBtjh.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/Gp0AXlh.png"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/athZ9VE.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/WGmDPz3.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/8Li9WWI.png"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/tfMbbWp.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/X4lTMNV.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/SGLvGqU.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/x6rcM75.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/4Td5LSW.png"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/6Vyv38N.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/KivBtjh.jpg"></div>

	</div>	 -->
<div class="container gallery-container">
  <!-- <nav class="mt-2 navbar-expand-lg classA navbar-light">
    <a class="navbar-brand" href="#">ND</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class=" navbar-nav mr-auto ">
        <li class=" mx-1">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <a class="nav-link my-2 my-sm-0" href="/contact">Contact Me</a>
      </ul>
      <form class="form-inline my-2 my-lg-0"></form>
    </div>
  </nav> -->
  <div class="pt-3 d-flex justify-content-center classA">
    <div>
      <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div>
      <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
      <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <h1>Galleria</h1>

  <p class="page-description text-center">By Neil Dahiya</p>

  <div class="tz-gallery">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/Gp0AXlh.png">
          <img src="https://i.imgur.com/KivBtjh.jpg" alt="Park" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/Gp0AXlh.png">
          <img src="https://i.imgur.com/Gp0AXlh.png" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/athZ9VE.jpg">
          <img src="https://i.imgur.com/athZ9VE.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/WGmDPz3.jpg">
          <img src="https://i.imgur.com/WGmDPz3.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/8Li9WWI.png">
          <img src="https://i.imgur.com/8Li9WWI.png" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/tfMbbWp.jpg">
          <img src="https://i.imgur.com/tfMbbWp.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/X4lTMNV.jpg">
          <img src="https://i.imgur.com/X4lTMNV.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/SGLvGqU.jpg">
          <img src="https://i.imgur.com/SGLvGqU.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/4Td5LSW.png">
          <img src="https://i.imgur.com/4Td5LSW.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
