<!-- <div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/KivBtjh.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/Gp0AXlh.png"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/athZ9VE.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/WGmDPz3.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/8Li9WWI.png"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/tfMbbWp.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/X4lTMNV.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/SGLvGqU.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/x6rcM75.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/4Td5LSW.png"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/6Vyv38N.jpg"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 imgs"><img class="img-thumbnail"src="https://i.imgur.com/KivBtjh.jpg"></div>

	</div>	 -->
<div class="container gallery-container">
  <h1>Galleria</h1>

  <p class="page-description text-center">By Neil Dahiya</p>

  <div class="tz-gallery">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/Gp0AXlh.png">
          <img src="https://i.imgur.com/KivBtjh.jpg" alt="Park" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/Gp0AXlh.png">
          <img src="https://i.imgur.com/Gp0AXlh.png" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/athZ9VE.jpg">
          <img src="https://i.imgur.com/athZ9VE.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/WGmDPz3.jpg">
          <img src="https://i.imgur.com/WGmDPz3.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/8Li9WWI.png">
          <img src="https://i.imgur.com/8Li9WWI.png" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/tfMbbWp.jpg">
          <img src="https://i.imgur.com/tfMbbWp.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/X4lTMNV.jpg">
          <img src="https://i.imgur.com/X4lTMNV.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/SGLvGqU.jpg">
          <img src="https://i.imgur.com/SGLvGqU.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="lightbox" href="https://i.imgur.com/4Td5LSW.png">
          <img src="https://i.imgur.com/4Td5LSW.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
