body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  /* background-image: linear-gradient(
    to top,
    #ecedee 0%,
    #eceeef 75%,
    #e7e8e9 100%
  ); */
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 60px 0;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container.gallery-container {
  /* background-color: #fff; */
  background: rgba(255, 255, 255, 0.5);
  color: #35373a;
  min-height: 100vh;
  font-family: "Pacifico", cursive;
  border-radius: 22px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.classA {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.classA a {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(51, 51, 51), 1px 1px 2px rgb(32, 32, 32);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "Pacifico", cursive;
  /* -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.7); */
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
  font-family: "Pacifico", cursive;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .container.gallery-container {
    border-radius: 0;
  }
}
